<mat-toolbar color="primary" class="toolbar">
  <div class="w100">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="routerLink" routerLink="/">
        Dog Breed Images
    </span>
  </div>
  <span class="spacer w100 flex">
    <span *ngIf="!auth.email">User: Anonymous</span>
    <span *ngIf="auth.email">User: {{auth.email}}</span>
    <span class="mobSpacer"></span>
    <span class="mobOnly">
      <button mat-icon-button matTooltip="Login" *ngIf="!auth.isAuthenticated()">
        <mat-icon routerLink="/login" [queryParams]="{action: 'login'}">login</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Logout" *ngIf="auth.isAuthenticated()" (click)="auth.logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </span>
  </span>
  <div class="nonMobOnly">
    <button mat-icon-button matTooltip="Login" *ngIf="!auth.isAuthenticated()">
      <mat-icon routerLink="/login" [queryParams]="{action: 'login'}">login</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Logout" *ngIf="auth.isAuthenticated()" (click)="auth.logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item *ngIf="!auth.isAuthenticated()" routerLink="/login" [queryParams]="{action: 'login'}">Login</button>
  <button mat-menu-item *ngIf="auth.isAuthenticated()" (click)="auth.logout()">Logout</button>
  <mat-divider></mat-divider>
  <button mat-menu-item routerLink="/login" [queryParams]="{action: 'create'}">Create Account</button>
  <button mat-menu-item routerLink="/login" [queryParams]="{action: 'changePwd'}" *ngIf="auth.isAuthenticated()">Change Password</button>
  <mat-divider></mat-divider>
  <button mat-menu-item routerLink="/about">About Dog Breed Images</button>
</mat-menu>

<div class="container">
  <router-outlet></router-outlet>
</div>
