.text-center {
  text-align: center;
}

.imagesGallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.imageFrame {
  margin: 5px;
  width: 200px;
  height: 200px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  max-width: 200px;
  max-height: 200px;
  cursor: pointer;
}

.textComment {
  width: 80%;
}

.commentEmailDate {
  display: flex;
}

.spacer {
  flex: 1 1 auto;
  text-align: center;
}

.userComment {
  margin-bottom: 10px;
}
