<mat-tab-group>
  <mat-tab label="About Dog Breed Images">
    <h1>About Dog Breed Images</h1>
    <p>This site is my portfolio shown my Angular development skills</p>
    <p>Site uses two databases</p>
    <p>Dog breed names and images taken from <a target="_blank" href="https://dog.ceo/dog-api/">https://dog.ceo/dog-api/</a></p>
    <p>Comments and user info stored in Firebase DB</p>
    <p>Sources cam be found at <a target="_blank" href="https://github.com/hfridland/dog-breeds">https://github.com/hfridland/dog-breeds</a></p>
  </mat-tab>
  <mat-tab label="About Author">
    <div class="avatar">
      <img src="../../../assets/img/avatar.png" alt="My picture">
    </div>
    <p>Hi, my name is Haim Fridland. I'm this site's author</p>
    <p>My email is <a href="mailto:hfridland@shaw.ca">hfridland@shaw.ca</a>, skype haimfrid. I'm looking for
      employment or contracts</p>
  </mat-tab>
</mat-tab-group>
